
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Andy Murray</title>

        <!-- Bootstrap CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        
    <style>
       
        .image {
            width: 100%;    
        }
        
        img {
            width: 30%;
            margin: 0 auto;
            display: block;
            border-radius: 2rem;
        }
       
        
    </style>
        
    </head>
    <body>
        
        <h1 class="text-center">Andy Murray is the greatest Scott, besides me.</h1>
        <div class="image">
            <p class="text-center">Brought to you by: </p>
            <img style='width: 10rem' src='https://beautifulrailwaybridgeofthesilverytay.files.wordpress.com/2013/04/irn-bru.jpg'>
        </div>
        <div class="image">
            <img src='http://i4.irishmirror.ie/incoming/article8392737.ece/ALTERNATES/s615b/Andy-Murray-celebrated-winning-his-second-Wimbledon-title.jpg'>
        </div>
        <div class="text">
            <h3 class="text-center">This is why Scotland rocks.</h3>
        </div>
        <div class="image">
            <img style='width: 30rem' src='http://3.bp.blogspot.com/-4yuH7ydyuFI/Tk2OfMwS7bI/AAAAAAAADGY/SVJMqQmmSJM/s1600/2000px-Flag_of_Scotland_svg.png'>
        </div>
        
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
